@font-face{
    font-family: raleway;
    src: url(raleway.regular.ttf)
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.custom-navbar {
    background-color: #2d6969; /* dark green background */
  }
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: #ffffff; /* white text */
  }
  .custom-navbar .nav-link:hover {
    color: #dddddd; /* slightly lighter on hover */
  }
  .custom-navbar .btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
  }
  .custom-navbar .btn-outline-light:hover {
    background-color: #ffffff;
    color: #2d6969;
  }

.wrapper {
  width: 100%;
  background-color: #8DE668;
  display: inline-block;
  overflow: hidden;
}

.marquee {
  color: rgb(0, 0, 0);
  font-size: 25px;
  white-space: nowrap;
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee-content {
  display: flex;     
}

.marquee-content p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

main{
  background-image: url(backing.jpg);
  background-size: cover;
  height: 100vh;
}