{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <form action="/admin_login" method="POST" class="text-center">
        <h1 class="mb-4">Admin Login</h1>

        <div class="mb-3">
            <label class="form-label">User Name</label>
            <input class="form-control mx-auto" type="text" id="user" name="user" style="max-width: 300px;" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control mx-auto" placeholder="Password" id="pass" name="pass" style="max-width: 300px;" required>
        </div>

        <div>
            <input class="btn btn-primary" type="submit" name="submit">
        </div>
    </form>
</div>

{% endblock %}