<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="/static/logo.png">
<link rel="stylesheet" href="static/style.css">
</head>

<body>
<header>
<nav class="navbar navbar-expand-lg custom-navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home') }}">
        <img src="/static/logo.png" style="width: 4rem; height: 4rem;" alt="Logo">
        <span class="ms-2">FashionFootprint</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('find_stores') }}">Find Stores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('compare') }}">Compare Stores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Admin Login</a>
          </li>
          {% if 'admin' in session %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% else %}
          {% endif %}
        </ul>
      
        <!-- Search bar -->
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer style="z-index: 99;display: flex; justify-content: flex-end; bottom: 10px; right: 20px; background-color: white; height: fit-content; width: 100%;">
  <a href="MailTo:info@fashionfootprint.com" 
   style="font-weight: bold; color: #2d6969; cursor: pointer; text-decoration: none; padding: 20px;">
   Contact Us
  </a>
  </footer>
</body>
</html>